// Here is where you can define your constants for your application and to configure the blueprint framework.

$blueprint-grid-columns: 12;
$blueprint-container-size: 940px;
$blueprint-grid-margin: 20px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

// Not sure why I need to calculate this here, but it makes things happy, so I am
$blueprint-grid-outer-width: $blueprint-grid-width + $blueprint-grid-margin;

$blueprint-container-outer-width: $blueprint-container-size + $blueprint-grid-margin + 2; // 2 for 1 px border on each side