/* VStream styles */
$v-stream-profile-image--width: 60px; /* 60 / 720 */
$v-stream-profile-image--margin-right: 20px; /* 20 / 720 */
$v-stream-profile--total-width: $v-stream-profile-image--width + $v-stream-profile-image--margin-right;

.group::after {
  content: " ";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
.v-stream * {
  box-sizing: border-box;
}
.v-stream a,
.v-stream a:hover {
  text-decoration: none;
}

.vs-load-more {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px 0;
  text-decoration: none;
  text-align: center;
  color: #3495d5;
  border: 2px solid #dadada;
  background-color: #D7F6FF;
}
v-stream-post {
  display: block;
}
.vs-post {
  margin-bottom: 20px;
}
.vs-post-profile .vs-post-profile-img {
  width: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: #fd7500;
  line-height: 1;
}
.vs-post-profile {
  float: left;
  width: $v-stream-profile-image--width;
  margin-right: $v-stream-profile-image--margin-right;

  text-align: center;
  .source-icon {
    position: relative;
    top: -18px;
    right: 0;
    float: right;
  }
}
.vs-post-container {
  width: calc(100% - #{$v-stream-profile--total-width});
  float: right;
  position: relative;

  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.14);
}
.vs-post-actions {
  width: 100%;
  padding: 8px 10px 8px 10px;
  background-color: #d7f6ff;
  border-radius: 0 0 10px 10px;
  
  .vs-primary-action {
    font-weight: bold;
    float: right;
  }
}

.vs-post-header {
  margin-bottom: 8px;
  padding: 10px 10px 0 10px;
  color: #666;
  
  a {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #3495d5;
  }
  .vs-delete-link {
    float: right;
    font-size: 16px;
    color: #d3d3d3;
    transition: all 0.1s ease;
    &:hover,
    &:focus,
    &:active {
      color: #c1334e;
      transform: scale(1.25, 1.25);
    }
  }
  .vs-post-title {
    font-size: 16px;
    font-weight: bold;
    color: #3495d5;
  }
  .vs-post-type {
    display: block;
    margin: 8px 0 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    color: #B8B8B8;
  }
  .stars {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #DAE1E5;
    font-size: 24px;
    span {
      margin-right: 10px;
    }
  }
  .star-active {
    color: #eae400;
  }
}

.vs-post-footer {
  padding: 10px;
  font-size: 12px;
  color: #999999;
  a {
    color: #3498d7;
    text-decoration: none;
    margin-left: 10px;
  }
}
.vs-post-excerpt {
  padding: 0 10px;

  p {
    margin: 0;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
.vs-post-reply-form {
  height: 0;
  background-color: #d7f6ff;
  overflow: hidden;
  
  form {
    max-width: 100%;
    margin-bottom: 0;
    padding: 10px 10px 0 10px;
  }
  form textarea{
    width: 100%;
    height: 120px;
    padding: 10px;
    resize: none;
    outline: none;
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
    color: #666;
  }
}
.vs-post-as-profile {
  position: relative;
  display: inline-block;
  width: 45px;
  margin-bottom: 8px;
  vertical-align: middle;

  .icon {
    position: absolute;
    left: 22px;
    top: 22px;
  }
  img {
    width: 32px;
  }
}
.vs-post-as-name {
  color: #3495d5;
  font-weight: bold;
  font-size: 14px;
}
.vs-post-char-counter {
  float: right;
  margin-top: 5px;
  padding: 2px 8px;
  font-size: 11px;
  color: #fff;
  background-color: #42c05c;
  border-radius: 10px;
}
/* CSS arrow */
.vs-post-container:after, .vs-post-container:before {
  right: 100%;
  top: 25px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.vs-post-container:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #fff;
  border-width: 14px;
  margin-top: -14px;
}
.vs-post-container:before {
  border-color: rgba(218, 218, 218, 0);
  border-right-color: #DADADA;
  border-width: 15px;
  margin-top: -15px;
}

/* Comments */
.vs-post-comments {
  background-color: #f6f6f6;
}
.vs-post-comments-header {
  padding: 10px;
  border-top: 1px solid #dadada;
  a {
    text-decoration: none;
    color: #3495d5;
    font-size: 12px;
    font-weight: bold;
  }
  .icon {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
  }
}
.vs-post-comments-count {
  float: right;
  font-size: 12px;
  color: #999;
  line-height: 2;
}
.vs-post-comments-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 10px;
    overflow: hidden;
    border-top: 1px solid #dadada;
  }
}
.vs-comment-image img {
  width: 32px;
}
.vs-post {
  .vs-comment-image,
  .vs-comment-text,
  .vs-comment-actions {
    display: table-cell;
    vertical-align: top;
    line-height: 1;
  }
}
.vs-comment-image {
  width: 42px;
}
.vs-comment-text {
  font-size: 14px;
  line-height: 1.2em;
  a {
    text-decoration: none;
    color: #3495d5;
    font-weight: bold;
  }
}
.vs-comment-actions {
  width: 10px;
  text-align: right;
  a {
    text-decoration: none;
    color: #838383;
  }
}
.vs-post-comment-meta {
  margin-top: 5px;
  color: #808285;
  font-size: 12px;
  a {
    font-weight: normal;
    padding-left: 10px;
  }
}
.vs-secondary-actions {
  float: left;
  a {
    margin-right: 15px;
    font-weight: normal;
    font-size: 12px;
  }
}



.vs-dropdown {
  position: relative;
  float: left;
  margin-right: 200px;
  a {
    text-decoration: none;
    vertical-align: middle;
  }
  a:active,
  a:visited {
    color: #3495d5;
  }
}
.vs-dropdown-menu {
  position: absolute;
  display: block;
  top: 100%;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  border: solid 1px #dadada;
  background-color: #fff;
}
.vs-dropdown-menu li:hover {
  background-color: #efefef;
  display: list-item;
}
.vs-dropdown-menu li a {
  display: block;
  text-decoration: none;
  color: #3495d5;
  padding: 5px 0 5px 10px;
}
.vs-open {
  display: block;
}
.vs-action {
  color: #3495d5;
  text-decoration: none;
  font-size: 14px;
}
.vs-hide-form {
  float: right;
  margin-left: 10px;
}
.vs-identity-selector,
identity-selector {
  display: inline-block;
  min-height: 40px;

  ul {
    display: inline-block;
    height: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;    
  }
  li {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    background-color: #d7f6ff;
  }

  li:hover {
    background-color: #D7F6FF;
  }
}
.vs-dropdown-indicator {
  float: right;
  margin: 5px;
  font-size: 20px;
}
.vs-is-open {
  overflow: visible !important;
  position: absolute;
  padding-bottom: 10px;
  margin-bottom: 10px;
  min-height: 140px;
}